
<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div><div class="row">
  <div class="col-xs-12" style="margin-top:10px;margin-bottom:2px">
    <div class="btn-group" appDropdown >
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li> <a style="cursor:pointer" (click)="addToShoppingList()" >To ShoppingList</a></li>
        <li> <a style="cursor:pointer" (click)="onEditRecipeItem()">Edit Recipe</a></li>
        <li> <a style="cursor:pointer">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <img src="{{recipe.imagePath}}" class="img-responsive" style="max-height:400px;min-width:300px">
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <ul class="list-group" style="margin-top:10px;margin-bottom:2px;">
      <li class="list-group-item" *ngFor="let Ing of  recipe.ingredients" style="border:1px solid black">
        {{Ing.name}}  -- {{Ing.amount}}
      </li>
    </ul>
  </div>
</div>
