<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onItemAdded(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name : </label>
          <input type="text" id="name" required class="form-control" name="name" ngModel>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount : </label>
          <input type="number" required id="amount" class="form-control" name="amount" ngModel [pattern]="'^[0-9]+[0-9]*$'">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success btn-margin" [disabled]="!f.valid" type="submit">{{ editMode ? "Update": "Add"}}</button>
          <button class="btn btn-danger btn-margin" type="button" (click)="onDeleteItem()" *ngIf="editMode">Delete</button>
          <button class="btn btn-primary btn-margin" (click)="onClearData()" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
